/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 25px;
    left: 25px;
    top: 25px;
  }
  
  .bm-burger-bars {
    background: white;
  }

 
  .bm-cross {
    background: #bdc3c7;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  .bm-menu {
    background: #197278;
    padding: 2.5em 1.5em 0;
    font-size: 25px;
  }

  .menu-item {
    color: white;
    font-weight: bold;
  }

  a:hover {
    color: black;
  }

.extra {
  color: #772e25;
  color: #283d3b;
}